@mixin background-preset{
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

@mixin text-shadow($color){
    text-shadow: 0px 4px 4px $color;
}

@mixin top-heading(){
    color: white;
    font-size: 3vw;
    margin: 0 0 3vw 0;
}

@mixin input-field(){
    font-family: 'atTheRate';
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    width: 100%;
}

@mixin button($opacity){
    opacity: $opacity;
    font-family: 'helsinki';
    font-size: 2vw;
    border: 3px solid white;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    padding: 0 2vw 0 2vw;
    margin: 1vw;
    @include text-shadow(black);
    cursor : pointer;
    transition:all 0.3s ease-out;
        &:hover{
            background-color: white;
            color: black;
            @include text-shadow(white);
        }
}