@import './queriesMixin.scss';

// up to 240px 
      @media only screen and (max-width: 240px){
            #main{
                .landingpage{
                    @include landing-page(4vh,3vh,5vw);
                }
                .skillpage{
                    background-size: 200vw 100vh;
                    @include skill-page(8vw,4vw,3vw);
                    .body{
                        margin-top: 30vw;
                    }
                }
                .contact{
                    height: 100vh;
                    background-size: 200vw 100vh;
                    center h1{
                        margin-bottom: 20vw;
                        font-size: 8vw;
                    }
                    @include contact-page(20vw,8vw,70vw);
                }
                .about{
                    text-align: center;
                    background-size: 200vw 100vh;
                    center h1{
                        font-size: 8vw;
                    }
                    .bigger{
                        margin-top: 20vw;
                        width: 80vw;
                        display: inline-block;
                        font-size: 4vw;
                        .biggerone,.biggertwo{
                            width: 80vw;
                            height: 20vh;
                        }
                    }
                }
            }
        }

        //from 240px to 480px
        @media only screen and (min-width:240px) and (max-width: 480px){

            #main{
                .landingpage{
                    @include landing-page(8vh,5vh,5vw);
                }
                .skillpage{
                    background-size: 200vw 100vh;
                    @include skill-page(6vw, 4vw, 3vw);
                    .body{
                        margin-top: 20vw;
                    }
                }
                .contact{
                    height: 100vh;
                    background-size: 200vw 100vh;
                    center h1{
                        font-size: 6vw;
                    }
                    @include contact-page(5vw,4vw,60vw);
                }
                .about{
                    text-align: center;
                    background-size: 150vw 100vh;
                    center h1{
                        font-size: 6vw;
                    }
                    .bigger{
                        margin-top: 15vw;
                        width: 80vw;
                        display: inline-block;
                        font-size: 3vw;
                        .biggerone,.biggertwo{
                            width: 80vw;
                            height: 20vh;
                        }
                    }
                }
            }
        }

        //from 480 px to 600px
        @media only screen and (min-width: 480px) and (max-width: 600px){
            #main{
                .landingpage{
                    background-size: 120vw 100vh;
                    @include landing-page(8vh,5vh,5vw);
                }
                .skillpage{
                    background-size: 120vw 100vh;
                    @include skill-page(5vw, 4vw, 3vw);
                    .body{
                        margin-top: 10vw;
                    }
                }
                .contact{
                    background-size: 140vw 100vh;
                    center h1{
                        font-size: 5vw;
                    }
                    .elder{
                        .left{
                            align-self: center;
                            justify-self: center;
                            margin-left: 5vw;
                            .stack h1{
                                font-size: 3vw;
                            }
                        }
                        .right{
                            .container{
                                width: 40vw;
                                .name,.mail input{
                                    width: 95%;
                                }
                                .message textarea{
                                    width: 95%;
                                }
                                .submit input{
                                    font-size: 3vw;
                                }
                            }
                        }
                    }
                }
                .about{
                    background-size: 120vw 100vh;
                    text-align: center;
                    center h1{
                        font-size: 4vw;
                    }
                    .bigger{
                        margin-top: 5vw;
                        display: block;
                        font-size: 3vw;
                        .biggerone,.biggertwo{
                            width: 100vw;
                            height: 25vh;
                        }
                    }
                }
            }
        }
    //from 600px to 768px
    @media only screen and (min-width: 600px) and (max-width: 768px){
        #main{
            .landingpage{
                @include landing-page2(10vh,4vh);
            }
            .skillpage{
                @include skill-page2(4vw, 3vw, 2vw);
            }
            .contact{
                center h1{
                    font-size: 4vw;
                }
                .elder{
                    .left{
                        margin-left: 10vw;
                    }
                    .right{
                        .container{
                            width: 30vw;
                            .submit input{
                                font-size: 2vw;
                            }
                        }
                    }
                }
            }
            .about{
                .bigger{
                    margin-top: 10vw;
                    .biggerone,.biggertwo{
                        width: 80vw;
                        height: 30vh;
                    }
                }
            }
        }
    }