@import './queriesMixin.scss';
@import './mixins.scss';
// up to 240px 
      @media only screen and (max-width: 240px){
            #main{
                .landingpage{
                    @include landing-page(4vh,3vh,5vw,4vw);
                }
                .skillpage{
                    background-size: 200vw 100vh;
                    @include skill-page(8vw,4vw,3vw);
                    .body{
                        margin-top: 30vw;
                    }
                }
                .contact{
                    height: 100vh;
                    background-size: 200vw 100vh;
                    center h1{
                        margin-bottom: 20vw;
                        font-size: 8vw;
                    }
                    @include contact-page(20vw,8vw,70vw);
                }
                .about{
                    @include about(200vw, 100vh, 8vw, 20vw, 80vw, inline-block, 4vw, 80vw, 20vh, true);
                }
                .projects{
                    background-image: url(./Assets/AboutImage.jpg);
                    background-size: 200vw 100vh;
                    @include project-block(8vw, 6vw, 50vh, 90vw, 6vw);
            }
            }
        }

        //from 240px to 480px
        @media only screen and (min-width:240px) and (max-width: 480px){

            #main{
                .landingpage{
                    @include landing-page(8vh,5vh,5vw,4vw);
                }
                .skillpage{
                    background-size: 200vw 100vh;
                    @include skill-page(6vw, 4vw, 3vw);
                    .body{
                        margin-top: 20vw;
                    }
                }
                .contact{
                    height: 100vh;
                    background-size: 200vw 100vh;
                    center h1{
                        font-size: 6vw;
                    }
                    @include contact-page(5vw,4vw,60vw);
                }
                .about{
                    @include about(150vw, 100vh, 6vw, 15vw, 80vw, inline-block, 3vw, 80vw, 20vh, true);
                }
                .projects{
                    background-image: url(./Assets/AboutImage.jpg);
                    background-size: 200vw 100vh;
                    @include project-block(8vw,6vw,40vh,90vw,4vw,true);
            }
            }
        }

        //from 480 px to 600px
        @media only screen and (min-width: 480px) and (max-width: 600px){
            #main{
                .landingpage{
                    background-size: 120vw 100vh;
                    @include landing-page(8vh,5vh,5vw,4vw);
                }
                .skillpage{
                    background-size: 120vw 100vh;
                    @include skill-page(5vw, 4vw, 3vw);
                    .body{
                        margin-top: 10vw;
                    }
                }
                .contact{
                    background-size: 140vw 100vh;
                    center h1{
                        font-size: 5vw;
                    }
                    .elder{
                        .left{
                            align-self: center;
                            justify-self: center;
                            margin-left: 5vw;
                            .stack h1{
                                font-size: 3vw;
                            }
                        }
                        .right{
                            .container{
                                width: 40vw;
                                .name,.mail input{
                                    width: 95%;
                                }
                                .message textarea{
                                    width: 95%;
                                }
                                .submit input{
                                    font-size: 3vw;
                                }
                            }
                        }
                    }
                }
                .about{
                    @include about(120vw, 100vh, 4vw, 5vw, 100vw, block, 3vw, 100vw, 25vh);
                }
                .projects{
                    background-image: url(./Assets/AboutImage.jpg);
                    background-size: 200vw 100vh;
                    @include project-block(6vw,4vw,40vh,80vw,3vw,true);
            }
            }
        }
    //from 600px to 768px
    @media only screen and (min-width: 600px) and (max-width: 768px){
        #main{
            .landingpage{
                @include landing-page(10vh,4vh,3vw,3vw,true);
            }
            .skillpage{
                @include skill-page(4vw, 3vw, 2vw, true);
            }
            .contact{
                center h1{
                    font-size: 4vw;
                }
                .elder{
                    .left{
                        margin-left: 10vw;
                    }
                    .right{
                        .container{
                            width: 30vw;
                            .submit input{
                                font-size: 2vw;
                            }
                        }
                    }
                }
            }
            .about{
                .bigger{
                    margin-top: 10vw;
                    .biggerone,.biggertwo{
                        width: 80vw;
                        height: 30vh;
                    }
                }
            }
            .projects{
                .projectData{
                    .slide{
                        .data{
                            .right{
                                .right_upper{
                                    img{
                                        width: 50vw;
                                    }
                                }
                                .right_lower{
                                    display: flex;
                                    justify-content: space-around;
                                }
                            }
                        }
                    }
                }
            }
        }
    }