@import './mixins.scss';

@font-face{
    font-family: 'Helsinki';
    src: url(./Assets/Helsinki.ttf);    
}
@font-face{
    font-family: 'atTheRate';
    src : url(./Assets/Lemonada-VariableFont:wght.ttf);
}
#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip{
    font-size: 15px;
}
#fp-nav ul li a span,.fp-slidesNav ul li a span{
    background-color: white;
}
#main{
    font-family: 'Helsinki';
   .landingpage{
        background-image: url(./Assets/ali-yahya-ytNFYf4d_30-unsplash.jpg);
        @include background-preset();       
        .upper{
            color: white;
            h1{
                height: 16vh;
                font-size: 10vw;
                margin: 0px;
                @include text-shadow(black)
            }
            h2{
                height: 4vh;
                font-size: 3vw;
                margin: 4vw;
                @include text-shadow(#333);
            }
        }
        .lower{
            margin: 5vw;
            color: white;
            button{
             @include button(0);
            }
        }
    }
    .skillpage{
        background-image: url(./Assets/secondSlideImage.jpg);
        @include background-preset();
        color: white;
        .head{
            h1{
                @include top-heading();
                @include text-shadow(black);
            }
        }
        .body{
            padding: 0 0 0 15vw;
        }
        div{
            width: 100vw;
            .subhead{
                transform: translateX(-100vw);
                display: flex;
                color: white;
                h1{
                    margin: 0 0 4vw 0;
                    font-size: 2.2vw;
                    width: 21vw;
                    @include text-shadow(black);
                }
            }
        .one,.two,.three,.four,.five,.six{
            display: flex;
            h1{
                margin: 1vw 0 1vw 0;
                font-size: 2vw;
                width: 21vw;
                @include text-shadow(black);
            }
        }
        //for animation
        .one,.three,.five{
            transform: translateX(100vw);
        }
        .two,.four,.six{
            transform: translateX(-100vw);
        }
        }
    }
    .contact{
        background-image: url(./Assets/Contact-image.jpg);
        @include background-preset();
        color: white;
        center h1{
            @include top-heading();
            text-shadow: 0px 2px 2px black;  
        }
        .elder{
            display : flex;
            .left{
                text-align: center;
                align-self: center;
                margin-left: 5vw;
                width: 50vw;
                .stack{
                    transform: translateX(-100vw);
                    width: 20vw;
                    margin: 3vw 0 3vw 0;
                    border: 2px solid white;
                    border-radius: 20px;
                    transition: all 0.2s ease-in-out;
                    h1{
                        margin: 1vw;
                        font-size: 2vw;
                    }
                    &:hover{
                        width: 25vw;
                        background-color: white;
                        border: 2px solid black;
                        h1{
                            text-shadow: 0px 2px 2px white;  
                            color:black;
                        }
                    }
                }
            }
            .right{
                padding: 2vw 0 0vw 0vw;
                width: 50vw;
               .container{
                   border: 2px solid white;
                   border-radius: 25px;
                   padding: 1.5vw;
                   width: 25vw;
                   transform: translateX(100vw);
                   .name,.mail{
                    input{
                        @include input-field();
                    }
                }
                .message{
                    textarea{
                       @include input-field();
                    }
                }
                .submit{
                    input{
                        font-family: 'helsinki';
                        font-size: 1vw;
                        border: 3px solid white;
                        border-radius: 10px;
                        padding: 0.5vw 2vw 0.5vw 2vw;
                        margin: 1vw;
                        @include text-shadow(white);             
                        cursor : pointer;
                        background-color: white;
                        color: black;
                    }
               }
                }
            }
        }
    }
    .about{
        background-image: url(./Assets/AboutImage.jpg);
        @include background-preset();               
        color: white;

        center h1{
            @include top-heading();
        }
      .bigger{
          display: flex;
          font-size: 2vw;
          margin-top: 5vw;
          .biggerone,.biggertwo{
            width: 100vw;
            height: 60vh;
        }
      }
    }
    .projects{
            background-image: url(./Assets/AboutImage.jpg);
            @include background-preset();
            .projectData{
                .slide{
                    center h1{
                        @include top-heading();
                    }
                    .data{
                        display:flex;
                        justify-content: space-around;
                        padding: 0 2vw 0 2vw;
                        .left{
                            h2{
                                color: white;
                            }
                            p{
                                color: white;
                            }
                            width: 50vw;
                        }
                        .right{
                            width: 50vw;
                            .right_upper{
                                display: flex;
                                justify-content: space-around;
                                img{
                                    border-radius: 5%;
                                    @include text-shadow(black);
                                    border: 2px solid white;
                                    width: 40vw;
                                    height: 50vh;
                                }
                            }
                            .right_lower{
                                display: flex;
                                justify-content: space-around;
                                button{
                                    @include button(100);
                                }
                            }
                        }
                    }
                }
            }
    }
}